$_width: 15.5rem;
$_height: 4rem;
$_bar-size: 1rem;

.loader {
  align-items: center;
  color: var(--c-white);
  display: flex;
  font-size: 1.2rem;
  height: $_height;
  justify-content: center;
  left: 50%;
  position: absolute;
  text-transform: lowercase;
  top: 50%;
  transform: translate(-50%, -50%);
  width: $_width;

  &::before,
  &::after {
    animation: load 0.7s infinite alternate ease-in-out;
    background: var(--c-white);
    content: "";
    display: block;
    height: $_bar-size;
    position: absolute;
    width: $_bar-size;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }
}

@keyframes load {
  0% {
    height: $_bar-size * 2;
    left: 0;
    width: $_bar-size;
  }
  50% {
    height: 8px;
    width: 40px;
  }
  100% {
    height: $_bar-size * 2;
    left: $_width - $_bar-size;
    width: $_bar-size;
  }
}
