@font-face {
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/menu-icons.woff2") format("woff2");
}

.icon:before {
  color: currentColor;
  font-family: "Flaticon";
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
}

.icon-phone:before {
  content: "\f100";
}
.icon-glasses:before {
  content: "\f101";
}
.icon-user:before {
  content: "\f102";
}
.icon-monitor:before {
  content: "\f103";
}
.icon-edit:before {
  content: "\f104";
}
.icon-download:before {
  content: "\f105";
}
.flaticon-work:before {
  content: "\f106";
}
.flaticon-inclined-rocket:before {
  content: "\f107";
}
.flaticon-database:before {
  content: "\f108";
}
.flaticon-computer:before {
  content: "\f109";
}
.flaticon-iteration:before {
  content: "\f10a";
}
.flaticon-envelope:before {
  content: "\f10b";
}
.flaticon-address:before {
  content: "\f10c";
}
.flaticon-speedometer:before {
  content: "\f10d";
}
.flaticon-mortarboard:before {
  content: "\f10e";
}
.flaticon-contract:before {
  content: "\f10f";
}
.flaticon-facebook-logo:before {
  content: "\f110";
}
.flaticon-github-logo:before {
  content: "\f111";
}
.flaticon-twitter:before {
  content: "\f112";
}
