@import "./colors";
@import "./fonts";

:root {
  --c-dark: #{$dark-color};
  --c-orange: #{$orange-color};
  --c-white: #{$white-color};
  --c-primary: #{$primary-color};
  --font-primary: #{$roboto};
}
